@font-face{font-family:Delius;font-style:normal;font-weight:400;src:url("../fonts/delius-regular.woff") format("woff"),url("../fonts/delius-regular.woff2") format("woff2")}/* YUI CSS Detection Stamp */
#yui3-css-stamp.webfont-css-delius-min { display: none; }
