:root {
    --bg: #0c1526;
    --bg-2: #142142;
    --bg-3: #1f2f5c;
    --bg-4: #2f4a7d8c;
    --bg-5: #070f1d;
    --border: #c7ddffc7;
    --border-2: #c7ddff70;
    --border-3: #c7ddff30;
    --border-4: #c7ddff1a;
    --text: #cfd8e6;
    --bright-text: #ffffff;
    --accent: #3b82f6;
    --accent-2: #60a5fa;
}

#reset-theme {
    display: none !important;
}
